section.selector .panel {
	margin: 2rem 0;
}

section.selector .panel .catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;

	margin: 4rem 0;
}

section.selector .panel .catalog > .social {
	min-width: 80vw;
	--social-height: 8rem;
}
